:root {
  --color-background: #ff97af;
  --color-border: #fdfdfd;
  --color-playerX: #fdb3e1;
  --color-playerO: #79defd;
}

* { 
  padding: 0; 
  margin: 0; 
  font-family: 'Itim', cursive; 
} 

html{
  background-color: var(--color-background);
}

/*Start section */

html, body, #startPage {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#startPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0px;
  z-index: 2;
}

#transitionContainer {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.item {
  flex: 0 0 calc(33.33% - 20px); /* 3 items per row with margin */
  height: calc(22.22% - 10px); /* Height of each item */
  background-color: var(--color-playerO);
  transition: transform 0.5s;
}

.slide-out {
  transform: translateX(-100%);
}
/* Tic tac toe Grid */

.title { 
  text-align: center;
  font-size: 24px;
  margin-bottom: 5rem;
  color: #333333;
} 

.container {
  margin: 0 auto;
  border-radius: 25px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  max-width: 300px;
  border: 10px dashed var(--color-border);
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6d8e0;
  border: 2px dashed var(--color-border);
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  background-size: cover;
}

/* Animation apparition tile*/
.playerImgX,
.playerImgO {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 24px;
  transform-origin: center;
  animation: appearAnimation 0.5s ease forwards;
}
.playerImgX{
background: url(/asset/candy.png);
}
.playerImgO{
background: url(/asset/cotton-candy.png);
}

@keyframes shakeAnimation {
  0%  { transform: translate(0, 0); }
  10% { transform: rotate(-2deg); }
  20% { transform: rotate(2deg); }
  30% { transform: rotate(-2deg); }
  40% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  60% { transform: rotate(2deg); }
  70% { transform: rotate(-2deg); }
  80% { transform: rotate(2deg); }
  90% { transform: rotate(-2deg); }
  100%{ transform:translate(0, 0); }
}

@keyframes appearAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.tile.playerX {
  background: var(--color-playerX);
}

.tile.playerO {
  background: var(--color-playerO);
}

.tile:hover {
  background-color: var(--color-border);
}

/* Button */

#reset { 
  background-image: linear-gradient(to bottom, #498AFB, #a968b9);
}
#reset:hover{
  animation: shakeAnimation 1s ease ;
  transform-origin: center;
}

.controls { 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  margin-top: 1em; 
} 

.controls button { 
  color: white; 
  padding: 8px; 
  border-radius: 8px; 
  border: none; 
  font-size: 20px; 
  margin-left: 1em; 
  cursor: pointer; 
} 

.visible {
  display: block;
}

.hidden {
  display: none!important
}

.players-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.player-name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.winCondition.img{
 background-color: aliceblue;
 animation: shakeAnimation 1s ease ;
 transform-origin: center;
}

/* .resetAnimation{

} */

/* Style des champs de saisie */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-color: #ff6b6b;
  box-shadow: 2px 2px 5px rgba(255, 44, 185, 0.5);
}

/* Espacement pour les titres */
p {
  margin-top: 10px;
  margin-bottom: 5px;
}

#startButton { 
  background-image: linear-gradient(to bottom, #498AFB, #a968b9);
}
#startButton:hover{
  animation: shakeAnimation 1s ease ;
  transform-origin: center;
}
/* */
.bubblegum-title h1{
  font-family: 'Arial', sans-serif;
}

.bubblegum-title:hover {
  transform: scale(1.1); /* Animation de mise à l'échelle au survol */
}


.bubblegum-title {
	width: 350px; height: 120px;
	background: #f2f9fe;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
  animation: float 3s infinite;
	position: relative;
	margin: 120px auto 20px;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.bubblegum-title:after, .bubblegum-title:before {
	content: '';
	position: absolute;
  animation: float 3s infinite;
	background: #f2f9fe;
	z-index: -1
  
}

.bubblegum-title:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
  animation: float 3s infinite;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.bubblegum-title:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
  animation: float 3s infinite;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}
.degrade{
  margin-top: 10px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #ff6b6b, #b978e4, #48aff0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}